@keyframes move {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(15px);
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 100%;
    }

    50% {
        background-position: 50% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}