body {
    background: linear-gradient(45deg, #ee7752, #c23ce7, #3385c9);
    background-size: 400% 400%;
    animation: gradient 10s ease-in-out infinite;
    gap: 2em;
    position: relative;
}

h1 {
    text-align: center;
}

.box {
    width: 20rem;
    background: rgba(146, 125, 239, 0.13);
    padding: 30px;
    gap: 1rem;
    border-radius: 12px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px rgba(68, 68, 68, 0.552);
    border: 1px solid rgba(224, 224, 225, 0.122);
}

button {
    background: rgba(30, 11, 201, 0.513);
    transition: 0.35s ease;
}

button:hover {
    cursor: pointer;
    transform: scale(0.95);
    background: rgba(30, 11, 201, .6);
    box-shadow: 0 0 15px -5px rgb(213, 213, 213);
}

.blobs svg {
    position: absolute;
    z-index: -1;
    filter: drop-shadow(5px 5px 20px rgba(51, 51, 51, 0.245));
    animation: move 3s ease-in-out infinite alternate;
}

.blobs svg:nth-child(1) {
    width: 80%;
    max-width: 500px;
    bottom: 0;
    right: 0;
}

.blobs svg:nth-child(2) {
    width: 70%;
    max-width: 350px;
    top: 0;
    left: 0;
}